    <div class="widget">
      {{ with .Site.GetPage "/about" }}
      <h4 class="widget-title">{{ .Title | markdownify }}</h4>
      {{ if .Params.Image }}
      <img src="{{ .Params.Image | absURL }}" class="img-fluid author-thumb-sm d-block mx-auto rounded-circle mb-4" alt="">
      {{ else }}
      {{ if .Params.Icon }}
      <div class="text-center" style="font-size:5rem;line-height:1;"><i class="{{.Params.icon }}"></i></div>
      {{else}}
      <div class="text-center" style="font-size:5rem;line-height:1;"><i class="{{.Site.Params.default_icon}}"></i></div>
      {{ end }}{{ end }}
      <p>{{ .Summary }}</p>
      <a href="{{ .Permalink }}" class="btn btn-outline-primary">Learn More</a>
      {{ end }}
    </div>
    <!-- social -->
    <div class="widget">
      <h4 class="widget-title">External</h4>
      <ul class="list-inline social-links">
        {{ range .Site.Params.social }}
        <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
        {{ end }}
      </ul>
    </div>
